@import "../../lib/colors";

#about {
	justify-content: center;
	flex-direction: column;
	/*padding-top: 50px;*/
}

.about-gradient-container {
	display: flex;
	justify-content: center;
	width: 100vw;
	/*height: 100vh;*/
}

.about-description {
	padding: 75px 0 0 75px;
	font-size: 20pt;
}

.about-background-gradient {
	position: absolute;
	top: 90vh;
	width: 100vw;
	padding: 250px;
	background: radial-gradient(507.00px at 49.47% 49.85%, $blue  10%, $purple 100%);
	transform: rotate(173deg);
}

/* DOTS */
.about-dot {
	position: absolute;
	width: 47px;
	height: 47px;
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.1);
}
.about-dot2 {
	right: 0;
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.1);
}
.about-dot3 {
	right: 0;
	margin: 50px 200px 0 0;
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
}
.about-dot4 {
	margin: 70px 0 0 200px;
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
}
.about-dot5 {
	margin: 70px 0 0 300px;
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.1);
}