@import "../../lib/colors";

#about {
	margin-top: 100vh;
	justify-content: center;
	flex-direction: column;
	/*padding-top: 50px;*/
}

.about-gradient-container {
	display: flex;
	justify-content: center;
	width: 100vw;
	margin-bottom: 400px;
	/*height: 100vh;*/
}

.about-description {
	padding: 75px 0 75px 75px;
	font-size: 20pt;
}

.about-background-gradient {
	position: absolute;
	top: 90vh;
	width: 100vw;
	padding: 250px;
	background: radial-gradient(507.00px at 49.47% 49.85%, $blue  10%, $purple 100%);
	transform: rotate(173deg);
}

