@import "../../lib/colors";

#about {
	margin-top: 85vh;
	background-color: transparent;
	justify-content: center;
	/*align-items: center;*/
	flex-direction: column;
	/*padding-top: 50px;*/
}

.about-description {
	background-color: white;
	padding: 75px 0 75px 75px;
	font-size: 20pt;
}

.dots-container {
	position: absolute;
	width: 100vw;
	height: 620px;
	top: 75vh;
	margin: 0;
	padding: 0;
}

.dot {
	position: absolute;
}
