@import "../lib/colors";

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.action {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $blue;
  font-size: 26px;
  font-weight: 600;
  transition: all 150ms cubic-bezier(0.21, 0.94, 0.64, 0.99);
}

.action:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.action-arrow {
  height: 20px;
  width: auto;
  margin-left: 10px;
  margin-top: 5px;
}

.intro {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 100vw;
  height: 80vh;
  z-index: 0;
  top: 0;
}

.title {
  font-size: 36pt;
  font-weight: 600;
  padding-left: 50px;
  @media (max-width: 800px) {
    padding-left: 25px;
    font-size: 30pt;
  }
}

.catch-phrase {
  position: absolute;
  margin-top: 0vh;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 24pt;
  @media (max-width: 800px) {
    font-size: 20pt;
  }
}

.subtitle {
  font-size: 18pt;
  font-weight: 500;
  /*font-weight: bold;*/
  padding-left: 50px;
  padding-right: 50px;
  @media (max-width: 800px) {
    padding-left: 25px;
    padding-left: 25px;
    font-size: 16pt;
  }
}
.subtitle.purple {
  color: $purple;
}

.caption {
  font-size: 14pt;
  color: $nearblack;
  font-weight: 600;
}
.caption.gray {
  color: rgba(255, 255, 255, 0.7);
}
.caption.space-top {
  margin-top: 12px;
}

.gradient-container {
  display: flex;
  /*position: absolute;*/
  width: 100vw;
  /*height: 100vh;*/
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.subsection-wrapper {
  padding-left: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  @media (max-width: 800px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.subsection-icon {
  margin-right: 30px;
  width: 40px;
}

.subsection-subtitle {
  color: $nearblack;
  font-size: 16pt;
  font-weight: 600;
  line-height: 22px;
  /*font-weight: bold;*/
  @media (max-width: 800px) {
    font-size: 14pt;
  }
}

.subsection-subtitle.white {
  color: $nearwhite;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  /*height: 100vh;*/
  z-index: 1;
  background-color: white;
}
.section-container.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title-container {
  display: flex;
  flex-direction: column;
  padding: 50px 0px 50px 50px;
  @media (max-width: 800px) {
    padding: 50px 0px 50px 25px;
  }
  width: 100vw;
  box-sizing: border-box;
}

.section-title {
  font-size: 26pt;
  margin: 0px;
  color: $nearblack;
  font-weight: 700;
}
.section-title.light {
  color: $nearwhite;
}

.section-subtitle {
  font-size: 16pt;
  font-weight: 500;
  margin: 0px;
  color: $nearblack;
}
.section-subtitle.light {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  align-self: flex-start;
  top: 0;
  margin-left: 15px;
  z-index: 10;
  height: 100vh;
}

.sidebar-section {
  cursor: pointer;
  writing-mode: vertical-rl;
  text-orientation: upright;
  -webkit-transition: all 1s cubic-bezier(0.21, 0.94, 0.64, 0.99);
  -moz-transition: all 1s cubic-bezier(0.21, 0.94, 0.64, 0.99);
  transition: all 1s cubic-bezier(0.21, 0.94, 0.64, 0.99);
  &:hover {
    transform: scale(1.1);
    color: $blue;
  }
}
.sidebar-section.ABOUT {
  transform: scale(1.2);
  color: blue;
}
.sidebar-section.LEARN {
  transform: scale(1.2);
  color: blue;
}
.sidebar-section.EVENTS {
  /*font-weight: 800;*/
  transform: scale(1.2);
  color: white;
}
.sidebar-section.PARTNERS {
  /*font-weight: 800;*/
  transform: scale(1.2);
  color: blue;
}
.sidebar-section.PEOPLE {
  /*font-weight: 800;*/
  transform: scale(1.2);
  color: white;
}

.bouncy-div {
  animation: bounceInUp;
  animation-duration: 1.5s;
  /*position: absolute;*/
  /*bottom: calc(2vw + 2vh);*/
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.chevron {
  cursor: pointer;
  transform: scaleX(2);
  color: white;
}

.footer-container {
  width: 100vw;
  height: 520px;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  background-color: white;
  z-index: 2;
  position: relative;
  @media (max-width: 950px) {
    height: 700px;
  }
}

.footer-title {
  color: $halfwhite;
  font-size: 28pt;
  margin: 0px;
  font-weight: 700;
}

.footer-content {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (max-width: 800px) {
    padding: 25px;
  }
}

.footer-inner-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  @media (max-width: 950px) {
    flex-direction: column-reverse;
  }
  flex-wrap: wrap;
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $halfwhite;
  font-size: 24px;
  line-height: 50px;
  font-weight: 600;
  padding-top: 20px;
  width: 250px;
  @media (max-width: 950px) {
    align-items: center;
    text-align: center;
  }
}

.footer-email-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.footer-email-text {
  color: $nearwhite;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 5px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20px;
  width: 250px;
  @media (max-width: 950px) {
    align-items: center;
  }
}

.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  opacity: 0.5;
  transition: all 150ms cubic-bezier(0.21, 0.94, 0.64, 0.99);
  text-decoration: none;
}

.footer-link:hover {
  opacity: 0.9;
  cursor: default;
  transform: scale(1.02);
}

.footer-link-text {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-right: 15px;
  @media (max-width: 950px) {
    // font-size: 20px;
  }
}

.footer-link-image {
  height: 24px;
  width: auto;
}

.footer-gradient-container {
  width: 100vw;
  height: 520px;
  position: absolute;
  display: flex;
  align-items: flex-end;
  @media (max-width: 950px) {
    height: 700px;
  }
}
