@import "../lib/colors";

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.intro {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 25vw;
  background-color: white;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.title {
  font-size: 36pt;
  font-weight: 600;
}

.catch-phrase {
  position: absolute;
  align-self: center;
  color: white;
  font-size: 24pt;
}

.subtitle {
  font-size: 16pt;
  /*font-weight: bold;*/
}
.subtitle.purple {
  color: $purple;
}

.caption {
  font-size: 16pt;
  color: black;
}
.caption.gray {
  color: rgba(255, 255, 255, 0.7);
}
.caption.space-top {
  margin-top: 12px;
}

.gradient-container {
  display: flex;
  /*position: absolute;*/
  width: 100vw;
  /*height: 100vh;*/
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  /*height: 100vh;*/
  z-index: 1;
  background-color: white;
}
.section-container.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title-container {
  display: flex;
  flex-direction: column;
  margin: 50px 0px 50px 75px;
}

.section-title {
  font-size: 24pt;
  margin: 0px;
}
.section-title.light {
  color: white;
}

.section-subtitle {
  font-size: 16pt;
  font-weight: normal;
  margin: 0px;
}
.section-subtitle.light {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  align-self: flex-start;
  top: 0;
  margin-left: 15px;
  z-index: 10;
  height: 100vh;
}

.sidebar-section {
  cursor: pointer;
  writing-mode: vertical-rl;
  text-orientation: upright;
  -webkit-transition:  all 1s cubic-bezier(0.21, 0.94, 0.64, 0.99);
  -moz-transition:  all 1s cubic-bezier(0.21, 0.94, 0.64, 0.99);
  transition: all 1s cubic-bezier(0.21, 0.94, 0.64, 0.99);
  &:hover {
    transform: scale(1.1);
    color: $blue;
  }
}
.sidebar-section.ABOUT {
  transform: scale(1.2);
  color: blue;
}
.sidebar-section.LEARN {
  transform: scale(1.2);
  color: blue;
}
.sidebar-section.EVENTS {
  /*font-weight: 800;*/
  transform: scale(1.2);
  color: white;
}
.sidebar-section.PARTNERS {
  /*font-weight: 800;*/
  transform: scale(1.2);
  color: blue;
}
.sidebar-section.PEOPLE {
  /*font-weight: 800;*/
  transform: scale(1.2);
  color: white;
}

.bouncy-div {
  animation: bounceInUp; 
  animation-duration: 1.5s;
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.chevron {
  cursor: pointer;
  transform: scaleX(2);
  color: white;
}

.footer-container {
  width: 100vw;
  height: 520px;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  background-color: white;
  z-index: 2;
}

.footer-gradient-container {
  width: 100vw;
  height: 520px;
  position: absolute;
  display: flex;
  align-items: flex-end;
}
