@import "../../lib/colors";

#learn {
	/*justify-content: center;*/
	flex-direction: column;
	padding-top: 75px;
}

.learn-title-section {
	padding-left: 75px;
	display: flex;
	flex-direction: row;
}

.title-graphic-container {
	position: relative;
	width: 75px;
	display: flex;
}

.stack-layer1 {
	position: absolute;
	width: 42.26px;
	height: 42.26px;
	margin: 10px 0 0 10px;
	background: $pink;
	border-radius: 3px;
}

.stack-layer2 {
	position: absolute;
	width: 42.26px;
	height: 42.26px;
	background: linear-gradient(323.35deg, $blue -25.95%, $purple 146.89%);
	border-radius: 3px;
}

.stack-container {
	display: flex;
	margin-top: 10vh;
	flex-direction: row;
	flex-wrap: wrap;
	white-space: nowrap;
	align-items: center;
	justify-content: center;
}

.tech-container {
	display: flex;
	margin: 0 75px 50px 75px;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: all 1s cubic-bezier(0.21, 0.94, 0.64, 0.99);
	&:hover {
		transform: scale(1.1);
	}
}

.logo {
	width: 100px;
}

.tech-name {
	margin-top: 12px;
	font-size: 15pt;
}